body {
    background-color: #fdfefe;
}

figure {
    margin: 0px;
}

img.icons {
    max-height: 2rem;
}

.jodi {
    z-index: -1;
}

.jodi iframe {
    border: none;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .jodi iframe {
        border: none;
        width: 5%;
    }
}


/* @custom-media --breakpoint-not-small screen and (min-width: 30em); */
/* @custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em); */
/* @custom-media --breakpoint-large screen and (min-width: 60em); */
