body {
    background-color: #fdfefe;
}

figure {
    margin: 0px;
}

img.icons {
    max-height: 2rem;
}

.link {
    color: #00449E; /* dark-blue */
}

.link:visited {
    color: #001B44; /* navy */
}

.butt .link {
    color: #ffffff;
}

.butt .link:visited {
    color: #dddddd;
}

blockquote {
    border-left-style: solid;
    border-color: #408bc9;
    border-width: .25rem;
    margin-left: 0;
    margin-top: 0;
    padding-left: 2rem;
    color: rgba(0, 0, 0, .9);
}

.jodi {
    z-index: -1;
}

.jodi iframe {
    border: none;
    width: 100%;
}


.gift-shop-image {
    width: 75%;
    border-top-style: solid;
    border-color: #408bc9;
    border-top-width: .25rem;
    padding-top: 2rem;
    color: rgba(0, 0, 0, .9);

}

@media screen and (min-width: 30em) {
    .jodi iframe {
        border: none;
        width: 5%;
    }
}


/* @custom-media --breakpoint-not-small screen and (min-width: 30em); */
/* @custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em); */
/* @custom-media --breakpoint-large screen and (min-width: 60em); */
